# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

sam-test/sam_vit_h_4b8939.pth
package-lock.json
__pycache__
my-app/src/assets/data/temp.png
my-app/src/assets/data/processed.npy
my-app/src/assets/data/mask.png
