
@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Playfair+Display&display=swap');

/*Breakpoint for smaller screens */
@media screen and (max-width: 768px) {
  .Boxes {
    flex-direction: column;
  }

  .Left, .Middle, .Right {
    height: auto;
    padding: 10px;
  }

  .InfoBox, .LoadImageBox {
    width: 100%;
    height: auto;
  }

  .InfoText {
    width: 100%;
    height: auto;
  }
}

/* Main Style */
.App {
  background-image: linear-gradient(to top, #6750a4, #b66691, #d3928e, #dbc3ae, #edede9);  display: flex;
  flex-direction: column;
  color: var(--text-color);
  min-height: 100vh;
}

.title {
  padding-top: 30px;
  margin: 0;
  text-align: center;
  font-family: 'Mohave', sans-serif;
  font-family: 'Playfair Display', serif;
}

.Boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-color);
  padding: 20px;

}

.Left, .Middle, .Right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 581px;
}

.InfoBox, .LoadImageBox {
  width: 457px;
  height: 581px;
  background-color: var(--box-background); /* Box background */
  overflow-x: hidden;
  overflow-y: auto;
}

.ConfirmButton {
  width: 100%;
  height: 47px;
  background-color: var(--button-color); /* Button color */
  border: 0;
  border-radius: 10px;
}



.InfoText {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 30px 21px 43px 26px;
  width: 410px;
  height: 420px;
  margin: 0;
}

.HeaderBox {
  width: 100%;
  height: 31px;
  background-color: var(--headerbox-color); /*  Header color */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.OptionBox{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  background-color: var(--headerbox-color); /* OptionBox color */
  width: 100%;
  }


.BoxTitle {
  margin: 0;
  width: 269px;
  height: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  flex-shrink: 0;
  padding: 7px 0 4px 10px;
}

.ConfirmButtonBox {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.LoadImageBox img, .PreviewBox img, .Card img {
  width: 100%;
  height: 235px;
}

.Card {
  padding: 10px;
}

.Card img {
  width: 152px;
  height: 205px;
  border-radius: 15px;
}


.CardInfo {
  flex-direction: column;
  justify-content: space-evenly;
}
