/* Mobile First Styles */
.App {
  background-color: #f4dbd8; /* Light Peach */
  display: flex;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
}

.title {
  padding-top: 30px;
  margin: 0;
  text-align: center;
}

.Boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
}

.Left,
.Middle,
.Right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin: 10px;
}

.InfoBox,
.PreviewBox,
.LoadImageBox {
  width: 100%;
  background-color: #c09891; /* Dark Salmon */
  margin-bottom: 20px;
}

.PreviewBox,
.LoadImageBox {
  width: 100%;
  height: 45%;
  background-color: #c09891; /* Dark Salmon */
  margin-bottom: 20px;
}

.ConfirmButton {
  width: 100%;
  height: 47px;
  background-color: #775144; /* Sienna */
}

.InfoText,
.InfoBox {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
 /* padding: 30px 21px 43px 26px; */
  width: 100%;
  height: 469px;
  margin: 0;
}





.HeaderBox {
  width: 100%;
  height: 31px;
  background-color: #bea8a7; /* Dusty Rose */
}

.BoxTitle {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  padding: 7px 10px 4px;
}

.ConfirmButtonBox {
  width: 100%;
  padding: 7px 0;
}

.LoadImageBox img,
.PreviewBox img,
.Card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Tablet and larger */
@media (min-width: 600px) {
  .Boxes {
    justify-content: space-between;
  }

  .Left,
  .Middle,
  .Right {
    width: calc(33.3333% - 20px);
  }
}

/* Desktop and larger */
@media (min-width: 1024px) {
  .Left,
  .Middle,
  .Right {
    width: calc(33.3333% - 40px);
  }
}
