:root {
    --background: linear-gradient(to top, #6750a4, #b66691, #d3928e, #dbc3ae, #edede9);
    --text-color: #000000;
    --box-background: #eaddff3b;
    --button-color: #d49999;
    --background-very-dark-brown: #2a0800;
    --headerbox-color: #d3baf08e;
  }
  